-a %(devtargetlse)s
-d %(device)s
-top %(topmodule)s
-lib "work" -ver  %(h_files)s %(v_files)s
-output_edif %(topmodule)s.edi
-optimization_goal %(lse_goal)s
-ramstyle Auto
-romstyle auto
-frequency  200
-max_fanout  10000
-bram_utilization  100
-fsm_encoding_style Auto
-use_carry_chain 1
-carry_chain_length  0
-use_io_insertion 1
-use_io_reg 1
-resource_sharing 1
-propagate_constants 1
-remove_duplicate_regs 1
-twr_paths  3
-ifd
-resolve_mixed_drivers 0
-fix_gated_clocks 1
-RWCheckOnRam 0

#