BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK INTERCLOCKDOMAIN PATHS ;
SYSCONFIG PERSISTENT=OFF CONFIG_MODE=NONE DONE_OD=ON DONE_EX=OFF MCCLK_FREQ=2.5 CONFIG_SECURE=OFF WAKE_UP=21 WAKE_ON_LOCK=OFF WAKEUP_CLK=EXTERNAL INBUF=OFF ENABLE_NDR=OFF ;
