BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY PORT "clkin" 100.000000 MHz ;
INPUT_SETUP PORT "datain*" 5.000000 ns CLKPORT "clkin" ;
INPUT_SETUP ALLPORTS 5.000000 ns CLKPORT "clkin" ;
CLOCK_TO_OUT PORT "q*" 5.000000 ns CLKPORT "clkin" ;
CLOCK_TO_OUT ALLPORTS 5.000000 ns CLKPORT "clkin" ;
