#!/bin/sh
export INSTALLED_PATH=$1
echo "Installed Path is:" $INSTALLED_PATH

_VERILOG_READY="${INSTALLED_PATH}/cae_library/simulation/verilog"
_DEV1=${_VERILOG_READY}/ap6a00
_DEV2=${_VERILOG_READY}/ap6a00b
_UAP=${_VERILOG_READY}/applatform
_pulp=${_DEV1}/pulp
_security=${_DEV1}/crea/security_rtl
_abt_ip=${_DEV1}/abt_ip
_ddrphy=${_DEV2}/ddrphy


_apollo_package=${_DEV1}/apollo_package.sv
_dsp_package=${_DEV1}/dsp_package.sv
_ebr_package=${_DEV1}/ebr_package.sv
_pic_package=${_DEV1}/pic_package.sv
_pll_package=${_DEV1}/pll_package.sv
_hpio_package=${_DEV1}/hpio_package.sv
_hrio_package=${_DEV1}/hrio_package.sv
_io_ref_iobuf_package=${_DEV1}/io_ref_iobuf_package.sv
_osc_package=${_DEV1}/osc_package.sv
_mppcs_package=${_DEV1}/mppcs_package.sv
_jtag_defines=${_DEV1}/jtag_defines.sv
_ddrphy_top_rtl=${_DEV1}/ddrphy_top_rtl.v
_cell_model=${_DEV1}/cell_model.v
_cells=${_DEV1}/cells.v

VERILOG_READY="-y ${_DEV1} -y ${_DEV2} -y ${_UAP} -y ${_pulp} -y ${_security} -y ${_abt_ip} -y ${_ddrphy}"
VERILOG_READY="${VERILOG_READY} -sverilog ${_pll_package}"
VERILOG_READY="${VERILOG_READY} -sverilog ${_apollo_package}"
VERILOG_READY="${VERILOG_READY} -sverilog ${_dsp_package}"
VERILOG_READY="${VERILOG_READY} -sverilog ${_ebr_package}"
VERILOG_READY="${VERILOG_READY} -sverilog ${_pic_package}"
VERILOG_READY="${VERILOG_READY} -sverilog ${_hpio_package}"
VERILOG_READY="${VERILOG_READY} -sverilog ${_hrio_package}"
VERILOG_READY="${VERILOG_READY} -sverilog ${_io_ref_iobuf_package}"
VERILOG_READY="${VERILOG_READY} -sverilog ${_osc_package}"
VERILOG_READY="${VERILOG_READY} -sverilog ${_mppcs_package}"
VERILOG_READY="${VERILOG_READY} -sverilog ${_jtag_defines}"
VERILOG_READY="${VERILOG_READY} -sverilog ${_ddrphy_top_rtl}"
VERILOG_READY="${VERILOG_READY} -sverilog ${_cell_model}"
VERILOG_READY="${VERILOG_READY} -sverilog ${_cells}"
VERILOG_READY="${VERILOG_READY} +libext+.v+.sv+.h+.vh1 +incdir+${_DEV1}+${_DEV2}+${_UAP}+${_pulp}+${_security}+${_abt_ip}+${_ddrphy}"
VERILOG_READY="${VERILOG_READY} +define+SW_MODEL+USE_RTL+NO_SCAN+TSMC_CM_UNIT_DELAY"

PMI_READY="vlogan -v_T-2022.06 -sverilog -f ${INSTALLED_PATH}/ip/pmi/pmi.f ${VERILOG_READY}+${INSTALLED_PATH}/ip/pmi"
echo $PMI_READY
$PMI_READY

# source files
%(source_files)s

# testbench files
%(tb_files)s

vcs -v_T-2022.06  %(sim_top)s +vcs+lic+wait
./simv -l sim.log +vcs+lic+wait -ucli -i ucli.cmd
