FREQUENCY PORT "clk" 100 MHz ;
INPUT_SETUP PORT "addr*" 1 ns HOLD 1 ns CLKPORT "clk" ;
INPUT_SETUP PORT "data*" 1 ns HOLD 1 ns CLKPORT "clk" ;
INPUT_SETUP ALLPORTS 10 ns CLKPORT "clk" ;
CLOCK_TO_OUT ALLPORTS 10 ns CLKPORT "clk" ;
 
